@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Khula:wght@300;400;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --transicaoNavigation: 0.75s ease-in-out;
  --transicaoButton: 2.25s ease-in-out;
}


* {
  margin: 0px;
  font-family: "Open Sans", serif;
}

#navigation_bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 20vw;
  height: 100%;

  transition: var(--transicaoNavigation) all;

  background-color: #ffe4ef;
}

#navigation_bar #div_welcome {
  width: 100%;

  margin: 5% 0px;

  text-align: center;
  font-size: 2.25vh;
}

#navigation_bar #div_welcome #span_easybeauty {
  font-size: 6.5vh;
  color: #ff95b5;

  margin: 0px 0px 2% 0px;
}

#navigation_bar #div_welcome #span_welcome {
  margin: 5% 0% 0% 0%;
}

#navigation_bar #div_welcome #span_username {
  font-size: 2.5vh;
  font-weight: bold;
}

#navigation_bar #div_options {
  display: flex;
  flex-direction: column;

  margin: 5% 0% 0% 0%;
}

#navigation_bar #div_options .button_option {
  margin: 2.5% 5%;
  height: 5.5vh;

  font-size: 2vh;

  text-align: left;

  background: none;
  border: none;
  border-radius: 0.5vh;
}

#navigation_bar #div_options .button_option:hover,
#navigation_bar #div_options .button_option:link {
  transition: var(--transicaoButton);
  color: #ffffff;
  background-color: #ff95b5;
  box-shadow: #00000020 2px 2px;
}

#navigation_bar #button_move {
  position:absolute;
  top: 45%;
  left: calc(20vw - 2.5%);

  display: flex;
  flex-direction: row;
  justify-content: center;

  /* same size */
  width: 2.36vw;
  height: 2.5vw;

  background-color: #ffe4ef;

  #svg_arrow {
    transition: 0.5s all;
    width: 60%;
  }
}

#dashboard_section {
  transition: var(--transicaoNavigation) all;
  margin-left: 20vw;
  padding: 2.5%;

  width: calc(80vw - (2.5% * 2));
  height: calc(100vh - 5%);
  background-color: #FDFBF9;
}

#dashboard_section #chart_radar {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffe4ef;
  padding: 2.5%;
  border-radius: 5%;

  width: 50%;
}